* {
    margin: 0px;
    border: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #a7e3cd7a, #c7f2b3a5);
}

nav {
    background-color: rgb(55, 55, 55);
    padding: 10px;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;

}

.navega {
    padding: 30px;
    color: white;
    text-decoration: none;
}

.navega:hover {
    background-color: rgba(149, 144, 144, 0.332);
    transition-duration: 5ms;
    text-decoration: underline;
}

table {
   
    border-radius: 40px;
    background-image: linear-gradient(to right, #ffffff72, #c7f2b361);
    border-collapse:separate;
    border-spacing:0 ;
    width: 90%;
    margin: auto;
    margin-top: 10px;


}

table tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

.fotoPais {
    height: 20px;
    margin-right: 5px;
}

div#h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1 {
    font-size: 6vw;
    text-align: center;
    color: white;
    text-shadow: -1px -10px 1px 1px black;

}

#img {
    position: relative;
    background-image: url(img/Mapa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    filter: brightness(50%);
}


footer{
    margin-top:15px;
    color: white;
    padding:5px;
    text-align: center;
    background-color:rgb(55, 55, 55);
}

footer a{
    text-decoration:underline;
    color: white;
}